<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
      <user :users="usersApi"></user>
      <hr />
      <usersinprops></usersinprops>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

      Vue.component('user', {
        props: ['users'],
        template: `<div>
                    <div v-for="user, index in users" :class="'user-' + index">
                      <p> {{ user.email }} </p>
                      <img :src="user.picture.thumbnail" />
                    </div>
                  </div>`,

      });

      Vue.component('usersinprops', {
        template: `<div>
                    <div v-for="user, index in usersApi" :class="'user-' + index">
                      <p> {{ user.email }} </p>
                      <img :src="user.picture.thumbnail" />
                    </div>
                  </div>`,
        mounted() {
          axios.get('https://randomuser.me/api/?results=5')
            .then((response) => {
              this.usersApi = response.data.results;
            });
        },

        data() {
          return {
            usersApi: [],
          }
        },
      });

      new Vue({
        el: 'main',

        mounted() {
          axios.get('https://randomuser.me/api/?results=5')
            .then((response) => {
              this.usersApi = response.data.results;
            });
        },

        data: {
          usersApi: [],
        },

    });

    </script>
  </body>
</html>
